@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Roboto:wght@100;300;400;500;700&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

h1 {
  margin: 0;
}

.top_bar {
  position: relative;
}

.logo_text {
  position: absolute;
  left: 20px;
  font-size: 42px;
  color: white;
  z-index: 1;
}

.navigation {
  position: absolute;
  top: 5%;
  right: 10%;
  z-index: 1;
}

.navigation ul {
  display: flex;
  gap: 30px;
}

.navigation ul li {
  font-size: 20px;
  list-style-type: none;
  color: white;
}

.nav_list {
  display: flex;
  flex-wrap: wrap;
}

.nav_list :hover {
  color: #91f1fd;
}

.navigation a {
  text-decoration: none;
  color: white;
}

.burger_wrapper {
  position: absolute;
  top: 2%;
  right: 2%;
}

.header_burger {
  display: none;
  position: relative;
  width: 40px;
  height: 28px;
  z-index: 1;
}

.burger_line {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
}

.burger_line_first {
  top: 0;
}

.burger_line_second {
  top: 50%;
  transform: translateY(-50%);
}

.burger_line_third {
  bottom: 0;
}

.image {
  min-height: 780px;
}

.image img {
  width: 100%;
  height: 780px;
  object-fit: cover;
  filter: brightness(40%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 76%);
}

.form {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 455px;
  padding: 20px 40px 20px 40px;
  text-align: center;
  background: #f2fbfd;
  box-shadow: 8px 8px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  z-index: 1;
}

.form h2 {
  margin-bottom: 23px;
}

.formInput {
  width: 375px;
  height: 55px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  margin-bottom: 25px;
  padding-left: 22px;
}

.btn {
  width: 255px;
  height: 59px;
  max-width: 100%;
  background: #1c8eb5;
  border-radius: 15px;
  align-self: center;
  color: white;
  border: none;
  cursor: pointer;
  position: relative;
}

.container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circle {
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  pointer-events: none;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s forwards;
}

@keyframes scaleUp {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(25);
  }
}

.field__wrapper {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
  text-align: center;
}

.field__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 130px;
}


.field__file-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.field__file-fake {
  height: 55px;
  width: calc(100% - 130px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px;
  border: 1px solid #c7c7c7;
  border-radius: 3px 0 0 3px;
  border-right: none;
}

.field__file-button {
  width: 130px;
  height: 55px;
  background: #1bbc9b;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.info_wrapper {
  position: absolute;
  right: 15%;
  top: 22%;
  width: 31em;
  height: 31em;
  background: rgba(205, 214, 219, 0.3);
  border-radius: 50%;
  padding: 1.4644em;
  z-index: 1;
}

.info_buy {
  padding: 150px 10px 0 50px;
  font-size: 25px;
  color: white;
  font-weight: 700;
}

.info_buy span {
  color: #91f1fd;
}

.contact_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.icon_cnt {
  display: flex;
  gap: 20px;
}

.cnt_number a {
  text-decoration: none;
  color: white;
  font-size: 34px;
}

.cnt_number a:hover {
  color: #91f1fd;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14%;
  background-color: #f3f3f3;
  padding-bottom: 5%;
}

.intro h1 {
  padding-top: 30px;
  padding-bottom: 20px;
}

.tg_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.tg {
  background: #0088cc;
  width: 165px;
  color: #fff;
  font-size: 19px;
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
  line-height: 40px;
  border: none;
  cursor: pointer;
}

.tg:hover {
  background-color: #007bff;
  transition: background-color 0.1s linear;
}

.car_buyback_section {
  background-color: #505050;
  color: white;
}

.car_buyback_section h1 {
  text-align: center;
  padding-bottom: 40px;
}

.car_buyback_wrapper {
  padding-top: 2%;
  padding-bottom: 5%;
}

.car_buyback {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  grid-row-gap: 10px;
}

.buyback {
  width: 250px;
}

.buyback h4 {
  color: #91f1fd;
}

.scheme_section {
  background-color: #f3f3f3;
  /* margin-top: 5%; */
  padding-bottom: 5%;
}

.scheme_wrapper h1 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.scheme {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.scheme_block {
  padding: 10px;
  width: 350px;
  border: 2px solid black;
}

.scheme_section p {
  padding-top: 10px;
  font-size: 20px;
}

.arrow {
  align-self: center;
}

.map h1,
h3 {
  text-align: center;
}

.map h1 {
  padding-top: 2%;
}

.map h3 {
  padding-top: 1%;
  padding-bottom: 1%;
}

.map_city {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 2%;
}


.city {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  gap: 30px;
}

.city li::marker {
  color: #91f1fd;
}

.footer {
  height: 200px;
  background-color: #505050;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.footer_cnt a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.footer_cnt a:hover {
  color: #91f1fd;
}

.autoboss a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.autoboss a:hover {
  color: #91f1fd;
}

@media (max-width: 1350px) {
  .info_wrapper {
    right: 1%;
    transition: 0.2s;
  }

  .form {
    top: 25%;
    transition: 0.2s;
  }

  .intro {
    margin-top: 16%;
    transition: 0.2s;
  }

  .scheme {
    padding: 0 15px;
  }

  .car_buyback {
    padding-left: 15px;
  }
}

@media (max-width: 1099px) {
  .logo_text {
    top: 2%;
    font-size: 35px;
  }

  .navigation ul li {
    font-size: 15px;
  }

  .info_wrapper {
    width: 25em;
    height: 25em;
  }

  .info_buy {
    padding-top: 100px;
    font-size: 18px;
  }

  .cnt_number a {
    font-size: 27px;
  }

  .form {
    width: 400px;
    transition: 0.2s;

  }

  .formInput {
    width: 325px;
    transition: 0.2s;
  }

  .scheme_section p {
    font-size: 17px;
  }

  .buyback {
    width: 220px;
    font-size: 15px;
  }

}

@media (max-width: 999px) {
  .header_burger {
    display: block;
  }

  .navigation {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 10;
    padding: 75px;
    transform: translateX(100%);
    transition: .2s all linear;
    opacity: 0.9;
  }

  .header_nav_active {
    transform: translateX(0);
  }

  .list_item {
    width: 100%;
    margin-bottom: 30px;
  }

  .list_item:last-child {
    margin-bottom: 0;
  }

  .navigation a {
    font-size: 32px;
    line-height: 48px;
  }

  .header_nav_close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
  }

  .header_nav_close_line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 50%;
  }

  .header_nav_close_line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }

  .header_nav_close_line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }

  .form {
    top: 70%;
  }

  .info_wrapper {
    top: 15%;
  }

  .intro {
    margin-top: 75%;
  }


  .car_buyback {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .scheme {
    flex-direction: column;
    align-items: center;
  }

  .map_city {
    flex-direction: column;
  }

  .arrow img {
    display: none;
  }

  h1 {
    font-size: 23px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }
}

@media (max-width: 640px) {
  .logo_text {
    font-size: 22px;
  }

  .form {
    left: 3%;
    width: 340px;
    transition: 0.2s;

  }


  .info_wrapper {
    width: 20em;
    height: 20em;
  }

  .info_buy {
    padding-top: 50px;
    font-size: 18px;
  }

  .icon_cnt img {
    width: 40px;
    height: 40px;
  }

  .formInput {
    width: 225px;
    height: 45px;
    transition: 0.2s;
  }

  .btn {
    width: 225px;
    height: 45px;
  }

  .field__file-fake {
    height: 45px;
  }

  .field__file-button {
    height: 45px;
  }

  .intro {
    margin-top: 95%;
  }

  .intro h1 {
    font-size: 20px;
  }

  .belmap img {
    width: 320px;
    height: 270px;
  }

  h3 {
    font-size: 15px;
  }

  .car_buyback_wrapper h1 {
    padding-bottom: 20px;
  }

  .scheme_block {
    width: 320px;
  }

  .map h3 {
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .map_city {
    gap: 10px;
  }

  .city {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .navigation a {
    font-size: 22px;
    line-height: 38px;
  }

  .footer {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .intro {
    margin-top: 115%;
  }
}

@media (max-width: 320px) {
  .logo_text {
    font-size: 18px;
  }
}